<wm-page data-ng-controller="MainPageController"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-left-panel columnwidth="2" content="leftnav"></wm-left-panel> 
        <wm-page-content columnwidth="8"> 
            <wm-layoutgrid name="layoutgrid21"> 
                <wm-gridrow name="gridrow39_3"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn1_1" paddingleft="1" paddingbottom="1" paddingunit="em" paddingright="1"> 
                        <wm-tile name="tile1" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" paddingunit="em" bordercolor="#e8e8e8"> 
                            <wm-layoutgrid name="layoutgrid1"> 
                                <wm-gridrow name="gridrow1"> 
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn1" horizontalalign="left" paddingleft=".5" paddingright=".5" paddingunit="em" class="col-xs-12" paddingtop=".5" paddingbottom=".5"> 
                                        <wm-picture shape="rounded" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg" pictureaspect="None" textalign="left" name="picture1"></wm-picture> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="5" name="gridcolumn2" paddingunit="em" class="col-xs-12" paddingleft="1" paddingright="1" paddingtop=".5" paddingbottom=".5"> 
                                        <wm-label caption="Jonathan Doe" class="h2" fontweight="bold" width="100%" name="label1" marginunit="em" margintop="0"></wm-label> 
                                        <wm-label name="label2" caption="Senior Producer, Team Blue Dot," width="100%"></wm-label> 
                                        <wm-label name="label3" caption="jdoe@bluedot.com" width="100%"></wm-label> 
                                        <wm-label caption="+973 987 9811" width="100%" name="label4"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn3" horizontalalign="left" class="col-xs-12" paddingleft=".5" paddingright=".5" paddingtop=".5" paddingbottom=".5" paddingunit="em"> 
                                        <wm-button name="button2_1" class="btn-lg" iconclass="glyphicon glyphicon-print" caption="Print as PDF" marginunit="em" width="100%"></wm-button> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow39_3"> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn67_2" paddingleft="1" paddingright="1" paddingunit="em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel1" title="Personal Information" iconclass="glyphicon glyphicon-user" height="16em"> 
                            <wm-panel-footer name="panel_footer1"></wm-panel-footer> 
                            <wm-layoutgrid name="layoutgrid3"> 
                                <wm-gridrow name="gridrow7"> 
                                    <wm-gridcolumn columnwidth="5" name="gridcolumn19" horizontalalign="left" paddingunit="em" class="col-xs-3 col-sm-4"> 
                                        <wm-label caption="date of birth" class="text-uppercase" paddingunit="em" name="label14"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn50" class="col-xs-1 col-sm-1"> 
                                        <wm-label caption=":" paddingleft=".5" paddingright=".5" paddingunit="em" name="label31"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn51" class="col-xs-8 col-sm-7"> 
                                        <wm-label caption="15 july 1972" paddingleft=".5" paddingright=".5" paddingunit="em" name="label15"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow37_1"> 
                                    <wm-gridcolumn columnwidth="5" horizontalalign="left" paddingunit="em" class="col-xs-3 col-sm-4" name="gridcolumn55"> 
                                        <wm-label caption="blood group" class="text-uppercase" paddingright=".5" paddingunit="em" name="label8"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" class="col-xs-1 col-sm-1" name="gridcolumn56_1"> 
                                        <wm-label caption=":" paddingleft=".5" paddingright=".5" paddingunit="em" name="label36_1"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-8 col-sm-7" name="gridcolumn57_2"> 
                                        <wm-label caption="O Negative" paddingleft=".5" paddingright=".5" paddingunit="em" name="label9"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow38"> 
                                    <wm-gridcolumn columnwidth="5" horizontalalign="left" paddingunit="em" class="col-xs-3 col-sm-4" name="gridcolumn58_3"> 
                                        <wm-label caption="Father's Name" class="text-uppercase" paddingright=".5" paddingunit="em" name="label10"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" class="col-xs-1 col-sm-1" name="gridcolumn59_1"> 
                                        <wm-label caption=":" paddingleft=".5" paddingright=".5" paddingunit="em" name="label39"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-8 col-sm-7" name="gridcolumn60"> 
                                        <wm-label caption="Francis Dwight Doe" paddingleft=".5" paddingright=".5" paddingunit="em" name="label11"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow39_2"> 
                                    <wm-gridcolumn columnwidth="5" horizontalalign="left" paddingunit="em" class="col-xs-3 col-sm-4" name="gridcolumn61_1"> 
                                        <wm-label caption="marital status" class="text-uppercase" paddingright=".5" paddingunit="em" name="label12"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="1" class="col-xs-1 col-sm-1" name="gridcolumn62"> 
                                        <wm-label caption=":" paddingleft=".5" paddingright=".5" paddingunit="em" name="label42"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-8 col-sm-7" name="gridcolumn63_1"> 
                                        <wm-label caption="Married" paddingleft=".5" paddingright=".5" paddingunit="em" name="label13"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel2" iconclass="glyphicon glyphicon-education" title="Education"> 
                            <wm-panel-footer name="panel_footer2"></wm-panel-footer> 
                            <wm-layoutgrid name="layoutgrid12"> 
                                <wm-gridrow name="gridrow13"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" paddingunit="em" name="gridcolumn40" paddingtop=".5" paddingbottom=".5"> 
                                        <wm-label caption="MS, Computer Science" paddingunit="em" name="label23" width="100%"></wm-label> 
                                        <wm-label caption="Carnegie Mellon University" paddingunit="em" width="100%" name="label24" class="text-uppercase"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow14"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" paddingunit="em" name="gridcolumn43" paddingtop=".5" paddingbottom=".5"> 
                                        <wm-label caption="BS, Computer Science" paddingunit="em" width="100%" name="label25"></wm-label> 
                                        <wm-label caption="Carnegie Mellon University" paddingunit="em" width="100%" name="label26" class="text-uppercase"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow15"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" paddingunit="em" name="gridcolumn46" paddingtop=".5" paddingbottom=".5"> 
                                        <wm-label caption="Diploma, Programming" paddingunit="em" width="100%" name="label27"></wm-label> 
                                        <wm-label caption="Penn State University" paddingunit="em" width="100%" name="label28" class="text-uppercase"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel3" title="Experience" iconclass="glyphicon glyphicon-briefcase"> 
                            <wm-panel-footer name="panel_footer3"></wm-panel-footer> 
                            <wm-layoutgrid name="layoutgrid15"> 
                                <wm-gridrow name="gridrow40"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="left" paddingunit="em" paddingtop=".5" paddingbottom=".5" name="gridcolumn53"> 
                                        <wm-label caption="2014-Present" paddingunit="em" width="100%" name="label45" class="text-uppercase"></wm-label> 
                                        <wm-label caption="Co-founder of AcmeCompany and CEO of GreatCompany" paddingunit="em" width="100%" name="label46"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn68" paddingleft="1" paddingright="1" paddingunit="em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel4" iconclass="glyphicon glyphicon-phone-alt" height="16em"> 
                            <wm-panel-footer name="panel_footer4"></wm-panel-footer> 
                            <wm-layoutgrid name="layoutgrid4"> 
                                <wm-gridrow name="gridrow14_1"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="left" paddingunit="em" name="gridcolumn38_1" class="col-md-2 col-xs-2 col-sm-4 col-lg-2"> 
                                        <wm-label caption="work" class="text-uppercase" paddingtop=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="label22"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn61" horizontalalign="left" class="col-xs-8 col-sm-8 col-lg-8"> 
                                        <wm-label caption="#51, Sundrop Aparments Medow Street, Fraser Town NJ 4111" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="label23_1"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow22"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="left" paddingunit="em" name="gridcolumn63" class="col-md-2 col-xs-2 col-sm-4"> 
                                        <wm-label caption="home" class="text-uppercase" paddingtop=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="label37"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" horizontalalign="left" name="gridcolumn64" class="col-xs-8 col-sm-8"> 
                                        <wm-label caption="#256, Jackson Tech Park, Wallaby Way,  Moristown, NJ 312221" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" name="label38"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel5" iconclass="glyphicon glyphicon-th" title="Groups"> 
                            <wm-panel-footer name="panel_footer5"></wm-panel-footer> 
                            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" name="livelist2" dataset="Engineering, Marketing, Sales"> 
                                <wm-listtemplate layout="gridlayout" name="listtemplate2"> 
                                    <wm-layoutgrid class="gridlayout" name="layoutgrid22"> 
                                        <wm-gridrow name="gridrow42_1"> 
                                            <wm-gridcolumn columnwidth="2" data-template-ctr="true" name="gridcolumn76"> 
                                                <wm-icon name="icon6" iconsize="3em" iconclass="glyphicon glyphicon-th-large"></wm-icon> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="10" data-template-ctr="true" name="gridcolumn77"> 
                                                <wm-label name="label44_1" caption="Department"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow43"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn78" paddingleft="1" paddingright="1" paddingunit="em"> 
                        <wm-layoutgrid name="layoutgrid20"> 
                            <wm-gridrow name="gridrow40_1"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn64_1" horizontalalign="left" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" class="col-xs-4 col-sm-4"> 
                                    <wm-label name="label44" fontweight="bold" caption="Area"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn65_1" horizontalalign="left" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" class="col-xs-4 col-sm-4"> 
                                    <wm-label fontweight="bold" caption="Skill" name="label45_1"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn66_1" horizontalalign="left" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" class="col-xs-4 col-sm-4"> 
                                    <wm-label fontweight="bold" caption="Level" name="label46_1"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                        <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" name="livelist3" dataset="1, 2, 3"> 
                            <wm-listtemplate layout="inline" name="listtemplate3"> 
                                <wm-layoutgrid class="inline" name="layoutgrid23"> 
                                    <wm-gridrow name="gridrow44"> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn42"> 
                                            <wm-label caption="Skill Area" name="label39_1" width="100%"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn name="gridcolumn43_1"> 
                                            <wm-label name="label40" caption="Skill Set" width="100%"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn name="gridcolumn44"> 
                                            <wm-progress margintop="6" marginbottom="0" marginright="0" marginleft="0" name="progress3" datavalue="60"></wm-progress> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-listtemplate> 
                        </wm-livelist> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
        <wm-right-panel columnwidth="2" content="rightnav"></wm-right-panel> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>